/* Estilos gerais permanecem os mesmos */
.site {
    background: linear-gradient(to bottom, #000000, #333b46);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background: linear-gradient(to top, #020202, #333b46);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.corpo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rodape {
    height: 75px;
    background: linear-gradient(to top, #020202, #2d333b);
    color: #4a4c4e;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    width: 50px;
}

.logoinsta {
    width: 25px;
}

section input {
    width: 30rem;
    height: 35px;
    border: none;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    color: #45474B;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #2d333b;
    outline: none;
}

.botao-pesquisa {
    width: 35px;
    height: 35px;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #45474B;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #2d333b;
    border-radius: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo-lupa {
    width: 15px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

section button:hover {
    background-color: #30475E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resultados-pesquisa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: row;
}

.item-resultado {
    background: #050202;
    border-radius: 0.6rem;
    padding: 0.5rem;
    margin: 0.1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item-resultado h2 {
    font-size: 0.9rem;
    color: #222831;
    margin: 0;
    text-align: center;
}

.item-resultado a {
    text-decoration: none;
    color: #30475E;
    font-size: 0.8rem;
}

.item-resultado a:hover {
    text-decoration: underline;
}

.imagem {
    width: 80px;
    height: auto;
    display: block;
    margin-bottom: 0.5rem;
}

.descricao-meta {
    color: #45474B;
    font-size: 0.8rem;
    margin: 0.25rem 0;
    text-align: center;
}

.msg-erro {
    color: #F5F7F8;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section input {
        width: 300px;
        padding: 0.8rem;
        margin-bottom: 0.5rem;
        /* Espaçamento entre o input e o botão */
    }

    .botao-pesquisa {
        width: auto;
        /* Ajusta a largura do botão para o conteúdo */
        padding: 0.8rem 1rem;
        /* Ajusta o padding para melhorar a aparência */
        margin: 0;
        /* Remove a margem para centralizar o botão corretamente */
    }

    .resultados-pesquisa {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centraliza os resultados */
        width: 100%;
    }

    .item-resultado {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        /* Garante que o padding e border não afetem a largura total */
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        /* Espaçamento entre os itens de resultado */
    }

    .imagem {
        width: 50px;
    }

    .item-resultado h2 {
        font-size: 0.8rem;
    }

    .item-resultado a {
        font-size: 0.7rem;
    }
}